/* --- HEADER --- */

.header {
	align-items: center;
	background: linear-gradient(180deg, rgba(79, 33, 21, 80), rgba(0, 48, 102, 0));
	display: flex;
	gap: 20px;
	height: 80px;
	justify-content: start;
	position: fixed;
	transition: 0.25s ease-out;
	width: 100%;
	z-index: 101;
}
.header > *:last-child {
	flex: 1;
}

.header .mobile-toggle-open {
	align-items: center;
	border-right: 1px solid white;
	display: flex;
	justify-content: center;
	padding: 0px 20px;
}
.header:not(.header--sticky) .mobile-toggle-open .mobile-toggle__button {
	color: white;
}
.header .mobile-toggle-open .mobile-toggle__button .icon {
	font-size: 32px;
}

/* .header .brand {
	height: 100%;
} */
.header .brand img {
	display: block;
	height: 100%;
	max-height: 80px;
}
.header .brand .logo-black {
	display: none;
}
.header .brand .logo-white {
	display: block;
}

.header .nav {
	justify-content: end;
	align-items: center;
	padding-right: 20px;
}
.header .nav .desktop-toggle {
	display: none;
}
.header .nav .nav-item > a {
	padding-right: 20px;
	font-size: 16px;
}
.nav-pills .nav-link.active {
	color: #fff;
	font-weight: bold;
	background: none;
}
.header .nav .nav-item .material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
.header .nav .nav-item .nav-link .material-symbols-rounded,
.header .nav .nav-item .nav-link:visited .material-symbols-rounded {
	color: var(--fio-sys-color-neutral-white);
}

/* Sticky */

.header.header--sticky {
	height: 80px;
	background: var(--fio-sys-color-neutral-white);
	box-shadow: var(--fio-sys-elevation-md);
}
.header.header--sticky .mobile-toggle-open {
	border-right: 1px solid black;
}
.header.header--sticky .brand .logo-black {
	display: block;
}
.header.header--sticky .brand .logo-white {
	display: none;
}
.header.header--sticky .nav .nav-item .nav-link,
.header.header--sticky .nav .nav-item .nav-link:visited {
	color: var(--fio-sys-color-neutral-black);
}
.header.header--sticky .nav .nav-item .nav-link:hover {
	color: var(--fio-sys-color-accent-dark);
}
.header.header--sticky .mobile-toggle-open .fio-button-text-primary {
	color: var(--fio-sys-color-neutral-black);
}
.header.header--sticky .nav .nav-item .nav-link .material-symbols-rounded,
.header.header--sticky .nav .nav-item .nav-link:visited .material-symbols-rounded {
	color: var(--fio-sys-color-accent-medium);
}

@media (min-width: 992px) {
	.header {
		height: 150px;
		justify-content: space-between;
	}
	.header .mobile-toggle-open {
		display: none;
	}
	.header .brand {
		width: 360px;
		height: 100%;
		padding-left: 30px;
	}
	.header .brand img {
		display: block;
		height: 100%;
		margin: 0;
		max-height: 100%;
	}
	.header .nav .desktop-toggle {
		display: block;
	}
	.header .nav {
		justify-content: end;
		align-items: center;
		gap: 30px;
		padding-right: 30px;
	}
	.header .nav .nav-item .nav-link {
		color: var(--fio-sys-color-neutral-white);
	}
	.header:not(.header--sticky) .nav .nav-item .fio-button-outline-primary {
		color: var(--fio-sys-color-neutral-white);
		border-color: var(--fio-sys-color-neutral-white);
	}
	.header .nav .nav-item:has(.nav-link .material-symbols-rounded) {
		display: none;
	}
}
